@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "CCEvilDoings-Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "CCEvilDoings-Regular";
  src: local("CCEvilDoings-Regular"),
    url("./fonts/cc-evil-doings-regular.otf") format("opentype");
  font-weight: normal;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(236, 221, 217, 0.3); /* Light background for scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dca256; /* Thumb color */
  border-radius: 8px; /* Rounded corners */
  border: 2px solid #ecd8d1; /* Padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b5894c; /* Darker thumb color on hover */
}


